body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#layout {
  flex: 1 1 0;
  margin: 0;
  overflow: hidden;
}

#banner {
  border-bottom: 1px solid #dbdbdb;
}

#banner {
  padding: 1.5rem;
}

#banner h1, h2 {
  display: inline-block;
  margin: 0;
  margin-right: 1rem;
}

#nav {
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-right: 1px solid #dbdbdb;
}

#nav .menu-list li {
  margin-bottom: .5rem;
  position: relative;
  overflow: hidden;
}

#nav .menu-list li.active {
  transition: height 350ms ease;
}

#nav .menu-list li ul {
  margin: .5rem 0 0 0;
  overflow: hidden;
  line-height: 1;
  font-size: .9rem;
  position: absolute;
}

#content {
  padding: 0;
  overflow: hidden;
}

#content #descriptions {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 350ms ease;
}

#content #descriptions .description {
  padding: 1.5rem;
  flex: 0 0 100%;
  overflow-y: scroll;
}

#content #descriptions .description h1 {
  border-bottom: 3px solid #209cee;
  padding-bottom: 2px;
  display: inline-block;
}

#content #descriptions .description h2 {
  border-bottom: 2px solid turquoise;
  padding-bottom: 2px;
  display: inline-block;
}

#links {
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-left: 1px solid #dbdbdb;
}
#links li {
  margin-bottom: 1rem;
}
